<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/base}">
<head>
    <title>About Project</title>
    <script>
        function setJoinProjectId(id){
            document.getElementsByName("projectId")[0].value=id;
        }
    </script>

    <!-- Hotjar Tracking Code for http://itcommunity.herokuapp.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1495447,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
<body layout:fragment="content">
        <div class="container mt-3">
            <div class="card">
                <div class="card-header d-flex flex-row justify-content-between align-items-center">
                    <h4>
                        <div th:text="${itproject.name}"></div>
                    </h4>
                    <div class="font-italic" th:if="${itproject.publishDate != null}">publish date: <span
                            th:text="${#dates.format(itproject.publishDate,'yyyy-MM-dd')}"></span></div>
                </div>

                <div class="card-body d-flex flex-wrap ">
                    <div class="col-lg-3 d-flex  justify-content-center align-items-center  ">
                        <img class="img-fluid"
                             th:src="${itproject.thumbnail!=null?itproject.thumbnail:'/img/project/icons8-user-groups-96.png'}"/>
                    </div>
                    <div class="col-lg-9 ">
                        <div class="col-12">
                            <h4 class="font-weight-bold">Project about:</h4>
                            <h6 class="font-weight-normal">
                                <div th:text="${itproject.about}"></div>
                            </h6>
                        </div>
                        <div class="col-12  ">
                            <div class="d-flex  flex-wrap">
                                <div class="mr-2 mt-2 position-relative">
                                    <a target="_blank" th:href="${itproject.githubPath}" class="stretched-link btn btn-dark"><i
                                            class="fab fa-github"></i> github</a>
                                </div>
                                <div class="mr-2 mt-2 position-relative">
                                    <a target="_blank" th:href="${itproject.websitePath}" class="stretched-link btn btn-dark"><i
                                            class="fas fa-link"></i> web site
                                        link</a>
                                </div>
                                <div class="mr-2 mt-2 position-relative">
                                    <a target="_blank" th:href="${'/projects/'+itproject.id}" class="stretched-link btn btn-dark"><i
                                            class="fas fa-male"></i> Developers</a>
                                </div>
                                <div class="dropdown mr-2 mt-2">
                                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-code"></i>
                                        Used technology
                                    </button>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a th:each="skill : ${itproject.getProjectSkillList()}"
                                           class="dropdown-item d-flex align-items-center" href="#!">
                                            <!--                                        <img width="20px" class="mr-2 rounded-circle" th:src="@{/img/project/icons8-password-128.png}"/>-->
                                            <span th:text="${skill.getSkillId().name}">
                                        </span>
                                        </a>
                                    </div>
                                </div>
                                <div th:if="${itproject.needEmployee==true}">
                                    <a sec:authorize="hasAnyAuthority('CREATE_EMPLOYEE_PROFILE')"
                                       class="btn btn-success ml-lg-auto mt-2 text-light"
                                       href="/employees/register">
                                        <i class="fas fa-plus-circle"></i> Join Team
                                    </a>
                                    <a sec:authorize="isAnonymous()"
                                       class="btn btn-success ml-lg-auto mt-2 text-light"
                                       href="/static/img/user/login">
                                        <i class="fas fa-plus-circle"></i> Join Team
                                    </a>
                                    <a sec:authorize="hasAuthority('JOIN_TEAM')"
                                       class="btn btn-success ml-lg-auto mt-2 text-light"
                                       data-toggle="modal" data-target="#exampleModal"
                                       th:onclick="'setJoinProjectId('+${itproject.id}+')'"
                                    >
                                        <i class="fas fa-plus-circle"></i>
                                        Join Team
                                    </a>
                                </div>
                               </div>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Join Team</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Bu komandaya qoşulmağa əminsinizmi?</h6>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="/projects/join" method="POST">
                                                <input th:type="hidden" name="projectId"/>
                                                <button type="submit" class="btn btn-primary">Bəli</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Xeyir</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${param.joinsuccess}" class="text-align text-center mt-4 mb-4 h1 text-primary">
                Your Request to Join this project successfully recieved. We will contact with you as soon as possible. Thanks!
            </div>
            <div th:if="${param.alreadyjoined}" class="text-align text-center mt-4 mb-4 h1 text-primary">
                You are already member of this project!
            </div>
            <div th:if="${param.alreadysent}" class="text-align text-center mt-4 mb-4 h1 text-primary">
                Your request is in approval. We will contact with you as soon as possible!
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    <h5>
                        <div>Team Members</div>
                    </h5>
                </div>
                <div class="card-body">

                    <div class="table-responsive border border-dark ">
                        <table class="table w-100 ">
                            <thead class="thead-dark ">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">surname</th>
                                <th scope="col">position</th>
                                <th scope="col">cv</th>
                                <!-- link -->
                                <th scope="col">github</th>
                                <th scope="col">linkedin</th>
                                <th scope="col">email</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each=" p : ${itproject.getEmployeeProjectList()}">
                                <div th:if="${p.approved}">
                                    <th scope="row" th:text="${p.employeeId.userId.id}"></th>
                                    <td th:text="${p.getEmployeeId().userId.name}"></td>
                                    <td th:text="${p.getEmployeeId().userId.surname}"></td>
                                    <td th:text="${p.position}"></td>
                                    <td><a th:href="${p.getEmployeeId().getCvPath()}">cv</a></td>
                                    <td><a th:href="${p.getEmployeeId().getGithubPath()}">github</a></td>
                                    <td><a th:href="${p.getEmployeeId().getLinkedinPath()}">linkedin</a></td>
                                    <td th:text="${p.getEmployeeId().getUserId().getEmail()}"></td>
                                </div>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
</body>

</html>
