<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5d864663c22bdd393bb70ad0/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Hotjar Tracking Code for http://itcommunity.herokuapp.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1495447,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <style type="text/css">
        body {
            background-image: url("/img/user/banner_bg2.webp");
            background-size: 104%;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- ParticleJs-Body -->
<!--    <div id="particles-js"></div>-->
    <!-- Login Body -->
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-6 p-5 mx-auto">
                <!-- Card -->
                <div class="card bg-light">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <br>
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <img width="30%" th:src="${'/img/project/53879006.jpg'}" alt="">
                                <p class="m-0" style="font-size: 30px;">Log In</p>
                            </div>
                            <!-- Card Body-Content -->
                            <article class="card-body mx-auto" style="max-width: 400px;">
                                <form action="/login" method="POST">
                                    <!-- Inputs -->
                                    <div class="input-group my-3">

                                        <input name="username" class="form-control" placeholder="Email" type="text">
                                    </div>
                                    <div class="input-group mb-4">

                                        <input name="password" class="form-control" placeholder="Password" type="password">
                                    </div>
                                    <!-- Buttons -->
                                    <div class="form-group w-100">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <button type="submit" class="btn-block d-inline btn bg_icon text-light">
                                                    Log In
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Option for Register -->
                                    <div class="w-100 register-option">
                                        <p class="text-center">
                                            Don't have an account?
                                            <a href="/">Register</a>
                                        </p>
                                    </div>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/000447bf4e.js"></script>
</body>

</html>
