<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headhead :: headhead"></head>
<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 pt-5 mx-auto ">
					<div class="card">
						<h4 class="card-header text-white bg-dark">Sign up</h4>

						<div class="card-body px-5">
							<form th:object="${user}" action="/users" method="post">
								<div th:replace="fragments/userform :: userform"></div>

								<div class="input-group mt-3">
											<div class="text-center mx-auto">
												<button type="submit" class="btn btn-dark mt-1">Create Account</button>
												<a class="btn btn-secondary mt-1 mr-0" href="/static/img/user/login">
													<span class="text-light">Already using? Sign In</span>
												</a>
											</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
		<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
		<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://kit.fontawesome.com/000447bf4e.js"></script>
		<script th:src="@{/js/particles.js}"></script>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>

