<div   xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       th:fragment="employeeform">

    <div class="card-body px-3">
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon rounded-0 text-light" type="button">
                    <i class="fas fa-link" style="font-size: 14px;"></i>
                </button>
            </div>
            <input type="text" class="form-control rounded-0 "
                   placeholder="http(s)://url_goes_to_your_cv"
                   th:field="${employeeProfile.cvPath}">
            <button type="button" class="btn btn-danger rounded-0 ml-1"
                    data-container="body" data-toggle="popover"
                    data-placement="right"
                    data-content="Upload your cv to google drive etc. and paste link">
                <i class="fas fa-question-circle"></i>
            </button>
            <label th:if="${#fields.hasErrors('cvPath')}" class="text-danger w-100" th:errors="${employeeProfile.cvPath}">Error</label>

        </div>
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon rounded-0 text-light" type="button">
                    <i class="fab fa-github" style="font-size: 15px;"></i>
                </button>
            </div>
            <input  type="text"
                    class="form-control rounded-0"
                    placeholder="https://github.com/Your_Github_Username"
                    th:field="${employeeProfile.githubPath}">
            <label th:if="${#fields.hasErrors('githubPath')}" class="text-danger w-100" th:errors="${employeeProfile.githubPath}">Error</label>
        </div>
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon rounded-0 text-light" type="button">
                    <i class="fab fa-linkedin-in" style="font-size: 16px;"></i>
                </button>
            </div>
            <input  type="text"
                    class="form-control rounded-0"
                    placeholder="https://linkedin.com/in/Your_Linkedin_Username"
                    th:field="${employeeProfile.linkedinPath}">
            <label th:if="${#fields.hasErrors('linkedinPath')}" class="text-danger w-100" th:errors="${employeeProfile.linkedinPath}">Error</label>
        </div>
        <div class="input-group-prepend my-1">
            <button class="btn bg_icon rounded-0 text-light" type="button">
                <i class="fas fa-briefcase" style="font-size: 14px;"></i>
            </button>
            <select class="form-control rounded-0" id="isWorking" th:field="${employeeProfile.isWorking}">
                <option th:value="null">Are you working right now?
                </option>
                <option th:value="1">Yes</option>
                <option th:value="0">No</option>
            </select>
        </div>
        <div>
            <label th:if="${#fields.hasErrors('isWorking')}" class="text-danger w-100" th:errors="${employeeProfile.isWorking}">Error</label>
        </div>
        <div class="input-group-prepend my-1">
            <button class="btn bg_icon rounded-0 text-light" type="button">
                <i class="fas fa-briefcase" style="font-size: 14px;"></i>
            </button>
            <select class="form-control rounded-0"
                    id="isLookingForWork"
                    th:field="${employeeProfile.isLookingForWork}">
                <option th:selected="selected" th:value="null"l>Are you looking for work?
                </option>
                <option th:value="1">Yes</option>
                <option th:value="0">No</option>
            </select>
        </div>
        <div class="w-100">
            <label th:if="${#fields.hasErrors('isLookingForWork')}" class="text-danger w-100" th:errors="${employeeProfile.isLookingForWork}">Error</label>
        </div>
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon rounded-0 text-light" type="button">
                    <i class="fas fa-certificate" style="font-size: 15px;"></i>

                </button>
            </div>
            <input  type="text"
                    class="form-control rounded-0"
                    placeholder="Speciality"
                    th:field="${employeeProfile.speciality}"
            >
        </div>
        <label th:if="${#fields.hasErrors('speciality')}" class="text-danger w-100" th:errors="${employeeProfile.speciality}">Error</label>

        <div class="input-group-prepend my-1">
            <button class="btn bg_icon rounded-0 text-light" type="button">
                <i class="fas fa-briefcase" style="font-size: 14px;"></i>
            </button>
            <select class="form-control rounded-0" id="isWorking" th:field="${employeeProfile.experience}">
                <option th:value="0">Experience
                </option>
                <option th:each="i: ${#numbers.sequence(1, 15)}"
                        th:value="${i}"
                        th:text="${i}"
                        th:selected="${i == employeeProfile.experience}"
                >
                </option>
            </select>
        </div>
        <label th:if="${#fields.hasErrors('experience')}" class="text-danger w-100" th:errors="${employeeProfile.experience}">Error</label>


        <div class="language-box mt-2">
            <div id="repeater1">
                <div class="repeater-heading d-flex flex-column">
                    <button type="button" class="btn bg_icon  pull-right repeater-add-btn text-light" add-btn-language>
                        Add Language
                    </button>
                </div>
                <div class="clearfix"></div>

                <!-- Repeater Items -->
                <div data-group-language>
                    <div class="items" data-group-element  th:each="empLanguage, stat : *{employeeProfileLanguageList}">
                        <div class="item-content mt-2 d-flex" >
                            <div class="form-group col-lg-8 p-0 pr-2">
                                <select th:name="|employeeProfileLanguageList[${stat.index}].languageId.id|"
                                        class="form-control">
                                    <option value="0">Languages</option>
                                    <option
                                            th:each="language : ${listLanguages}"
                                            th:value="${language.id}"
                                            th:text="${language.name}"
                                            th:selected="${language.id == empLanguage.languageId.id}"></option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3 p-0 pr-2">
                                <select th:name="|employeeProfileLanguageList[${stat.index}].level|" class="form-control" >
                                    <option value="0">Level</option>
                                    <option th:each="i: ${#numbers.sequence(1, 10)}"
                                            th:value="${i}"
                                            th:text="${i}"
                                            th:selected="${i == empLanguage.level}"
                                    >
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 p-0">
                                <button type="button" class="btn btn-danger repeater-remove-btn" onclick="remove(this)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!-- Repeater End -->
        </div>
        <div class="language-box mt-2">
            <div id="repeater1">
                <div class="repeater-heading d-flex flex-column">
                    <button type="button" class="btn bg_icon  pull-right repeater-add-btn text-light" add-btn-skill>
                        Add Skill
                    </button>
                </div>
                <div class="clearfix"></div>
                <div data-group-skill>
                    <div class="items" data-group-element th:each="empSkill, stat : *{employeeProfileSkillList}">
                        <div class="item-content mt-2  d-flex" >
                            <div class="form-group col-lg-4 p-0 pr-2">
                                <select th:name="|employeeProfileSkillList[${stat.index}].skillId.id|"
                                        class="form-control">
                                    <option value="0">Skills</option>
                                    <option
                                            th:each="skill : ${listSkills}"
                                            th:value="${skill.id}"
                                            th:text="${skill.name}"
                                            th:selected="${skill.id == empSkill.skillId.id}"></option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 p-0 pr-2">
                                <input type="text" th:name="|employeeProfileSkillList[${stat.index}].skillId.name|" class="form-control" placeholder="Other Skill">
                            </div>
                            <div class="form-group col-lg-3 p-0 pr-2">
                                <select th:name="|employeeProfileSkillList[${stat.index}].level|" class="form-control" >
                                    <option value="0">Level</option>
                                    <option th:each="i: ${#numbers.sequence(1, 10)}"
                                            th:value="${i}"
                                            th:text="${i}"
                                            th:selected="${i == empSkill.level}"
                                    >
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2 p-0">
                                <button type="button" class="btn btn-danger repeater-remove-btn" onclick="remove(this)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- Repeater End -->
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"><Strong style="font-size: 15px;">About(*)</Strong></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="${employeeProfile.about}"></textarea>
                <label th:if="${#fields.hasErrors('about')}" class="text-danger w-100" th:errors="${employeeProfile.about}">Error</label>
            </div>

        </div>
    </div>


</div>
