<footer class="page-footer text-light  bg_icon font-small teal pt-4 pb-4">
     
        <ul style="font-size: 25px;" class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating text-light" href="https://www.facebook.com/bsptechs/">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating text-light" href="https://github.com/bsp-tech">
              <i class="fab fa-github"></i>
            </a>
          </li>
          
          <li class="list-inline-item">
            <a class="btn-floating text-light" href="https://www.linkedin.com/company/12611527">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
         
        </ul>
        
              <div class="footer-copyright text-center">© 2019 Developed by 
                  <a href="https//" class="text-light">
                       <img width="45px;" src="https://media.licdn.com/dms/image/C4D0BAQEr9fwTlLoLKg/company-logo_200_200/0?e=2159024400&amp;v=beta&amp;t=kB2gblDWPFd2g-982cM4TdBY6tZRi7ef1w7otrqXSaA">
                  </a>
              </div>
           
            </footer>
