<nav class="navbar navbar-expand-lg navbar-dark bg-transparent bg-light"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="navbar">

        <a class="navbar-brand logo ml-1" href="/">IT COMMUNITY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="ml-2  my-2  nav-item active">
                    <a style="font-size: 18px;" href="/employees" class="btn  fs-15  text-white bg-transparent btn-lg stretched-link">
                        IT Employees
                    </a>
                </li>
                <li class="ml-2  my-2  nav-item active">
                    <a style="font-size: 18px;" href="/projects" class="btn  fs-15  text-white bg-transparent btn-lg stretched-link">
                       Join Open Source Projects</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons" >
                <li class="ml-2 my-2 nav-item active" sec:authorize="isAnonymous()">
                    <a style="font-size: 21px; font-family: 'Fredoka One', cursive;" href="/user/login" class="btn  fs-15 text-white bg-transparent btn-lg stretched-link">
                        Login
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons" sec:authorize="isAuthenticated()">
                <li class="ml-2 my-2 nav-item active" sec:authorize="hasAuthority('CREATE_EMPLOYEE_PROFILE')">
                    <a href="/employees/register" class="btn text-white">
                        Create IT Employee Profile
                    </a>
                </li>
                <li class="ml-2 my-2 nav-item active dropdown">
                    <span class="text-white btn"
                          style="cursor: pointer;" data-toggle="dropdown" href="#"
                          th:text="${'('+#authentication.getPrincipal().getUser().getName()+' '+#authentication.getPrincipal().getUser().getSurname()+')'}">
                </span>

                    <div class="dropdown-menu mt-2" >
                        <a class="dropdown-item" href="/user/edit">Edit user profile</a>
                        <a class="dropdown-item"
                           sec:authorize="!hasAuthority('CREATE_EMPLOYEE_PROFILE')"
                           th:href="${'/employees/profile/edit'}" >Edit employee profile</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>

        </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5d864663c22bdd393bb70ad0/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Hotjar Tracking Code for http://itcommunity.herokuapp.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1495447,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    </nav>



