<div class="row"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="userform">
    <div class="w-100">
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon text-light " type="button"><i class="fas fa-user"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Name"  th:field="${user.name}">
        </div>
        <label th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="${user.name}"></label>
    </div>
    <div class="w-100">
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon text-light" type="button"><i class="fas fa-user"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Surname" th:field="${user.surname}">
        </div>
        <label th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="${user.surname}"></label>
    </div>
    <div class="w-100">
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon text-light" type="button"><i class="fas fa-calendar-day"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Age" th:field="${user.age}">
        </div>
        <label th:if="${#fields.hasErrors('age')}" class="text-danger" th:errors="${user.age}"></label>
    </div>
    <div class="w-100">
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon text-light" type="button"><i style="font-size: 14px;color: white;" class="fas fa-phone"></i></button>
            </div>
            <input class="form-control" placeholder="Phone (optional)" th:field="${user.phone}">
        </div>
        <label th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="${user.phone}"></label>
    </div>
    <div class="w-100">
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon text-light" type="button"><i style="font-size: 14px;color: white;" class="fas fa-at"></i></button>
            </div>
            <input type="email" class="form-control" placeholder="Email" th:field="${user.email}">
        </div>
        <label th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="${user.email}"></label>
    </div>
    <div class="w-100">
        <div class="input-group my-1">
            <div class="input-group-prepend">
                <button class="btn bg_icon text-light" type="button"><i class="fas fa-lock"></i></button>
            </div>
            <input type="password" class="form-control" placeholder="Password" th:field="${user.password}">
        </div>
        <label th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="${user.password}"></label>
    </div>
    <div class="input-group my-1">
        <div class="col-md-6 p-1">
            What is gender?
        </div>
        <div class="col-md-6 p-0">
            <select class="form-control" th:field="${user.genderId.id}">
                <option value="1"  th:selected="${1 == user.genderId.id}">Male</option>
                <option value="2" th:selected="${2 == user.genderId.id}">Female</option>
            </select>
        </div>
    </div>
</div>
