<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/particle.css}">

        <title>Document</title>
    </head>

    <body>
        <div id="particles-js"></div>


        <div class="col-lg-5 pt-5 mx-auto ">
            <div class="card border  border-dark  ">

                <h4 class="card-header  text-white bg-dark">Create Employee Profile</h4>
                <form th:action="@{/employees/register}" th:object="${employeeProfile}" method="POST">
                    <div class="card-body px-5">
                        <div class="w-100">
                            <div class="input-group my-1">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark rounded-0" type="button">
                                        <i class="fas fa-link" style="font-size: 14px;"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control rounded-0 " placeholder="cv path, ex: https://url_goes_to_your_cv"
                                       th:field="${employeeProfile.cvPath}">
                                <button type="button" class="btn btn-danger rounded-0 ml-1"
                                        data-container="body" data-toggle="popover"
                                        data-placement="right"
                                        data-content="Upload your cv to google drive etc. and paste link">
                                    <i class="fas fa-question-circle"></i>
                                </button>
                            </div>
                            <label th:if="${#fields.hasErrors('cvPath')}" class="text-danger" th:errors="*{cvPath}">Error</label>
                        </div>
                        <div class="w-100">
                            <div class="input-group my-1">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark rounded-0" type="button">
                                        <i class="fab fa-github" style="font-size: 15px;"></i>
                                    </button>
                                </div>
                                <input class="form-control rounded-0"
                                       placeholder="ex: https://github.com/YourUserName"
                                       th:field="${employeeProfile.githubPath}"
                                       type="text">
                            </div>
                            <label th:if="${#fields.hasErrors('githubPath')}" class="text-danger" th:errors="${employeeProfile.githubPath}">Error</label>
                        </div>
                        <div class="w-100">
                            <div class="input-group my-1">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark rounded-0" type="button">
                                        <i class="fab fa-linkedin-in" style="font-size: 16px;"></i>
                                    </button>
                                </div>
                                <input class="form-control rounded-0"
                                       placeholder="ex: https://www.linkedin.com/in/YourUserName"
                                       th:field="${employeeProfile.linkedinPath}"
                                       type="text">
                            </div>
                            <label th:if="${#fields.hasErrors('linkedinPath')}" class="text-danger" th:errors="${employeeProfile.linkedinPath}">Error</label>
                        </div>
                        <div class="w-100">
                            <div class="input-group-prepend my-1">
                                <button class="btn btn-dark rounded-0" type="button">
                                    <i class="fas fa-briefcase" style="font-size: 14px;"></i>
                                </button>
                                <select class="form-control rounded-0" id="isWorking" th:field="${employeeProfile.isWorking}">
                                    <option th:selected="selected" th:value="null">Are you working right
                                        now?
                                    </option>
                                    <option th:value="1">Yes</option>
                                    <option th:value="0">No</option>
                                </select>
                            </div>
                            <label th:if="${#fields.hasErrors('isWorking')}" class="text-danger" th:errors="${employeeProfile.isWorking}">Error</label>
                        </div>
                        <div class="w-100">
                            <div class="input-group-prepend my-1">
                                <button class="btn btn-dark rounded-0" type="button">
                                    <i class="fas fa-briefcase" style="font-size: 14px;"></i>
                                </button>
                                <select class="form-control rounded-0"
                                        id="isLookingForWork"
                                        th:field="${employeeProfile.isLookingForWork}">
                                    <option th:selected="selected" th:value="null">Are you Looking for
                                        Work?
                                    </option>
                                    <option th:value="1">Yes</option>
                                    <option th:value="0">No</option>

                                </select>
                            </div>
                            <label th:if="${#fields.hasErrors('isLookingForWork')}" class="text-danger" th:errors="${employeeProfile.isLookingForWork}">Error</label>
                        </div>
                        <div class="w-100">
                            <div class="input-group my-1">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark rounded-0" type="button">
                                        <i class="fas fa-certificate" style="font-size: 15px;"></i>

                                    </button>
                                </div>
                                <input class="form-control rounded-0"
                                       placeholder=" Speciality, ex: Java Software Developer"
                                       th:field="${employeeProfile.speciality}"
                                       type="text"
                                >
                            </div>
                            <label class="text-danger" th:errors="${employeeProfile.speciality}" th:if="${#fields.hasErrors('speciality')}">Error</label>
                        </div>
                        <div class="w-100">
                            <div class="input-group-prepend my-1">
                                <button class="btn btn-dark rounded-0" type="button">
                                    <i class="fas fa-briefcase" style="font-size: 14px;"></i>
                                </button>
                                <select class="form-control rounded-0" id="isWorking" th:field="${employeeProfile.experience}">
                                    <option th:value="null">Experience with years
                                    </option>
                                    <option th:each="i: ${#numbers.sequence(1, 15)}"
                                            th:selected="${i == employeeProfile.experience}"
                                            th:text="${i}"
                                            th:value="${i}"
                                    >
                                    </option>
                                </select>
                            </div>
                            <label th:if="${#fields.hasErrors('isWorking')}" class="text-danger" th:errors="${employeeProfile.isWorking}">Error</label>
                        </div>

                        <div class="language-box mt-2">
                            <div id="repeater1">
                                <div class="repeater-heading d-flex flex-column">
                                    <button type="button" class="btn btn-dark  pull-right repeater-add-btn" add-btn-language>
                                        Add Language
                                    </button>
                                </div>
                                <div class="clearfix"></div>

                                <!-- Repeater Items -->
                                <div class="items" data-group-language>
                                    <div class="item-content mt-2  d-flex" th:each="empLanguage, stat : *{employeeProfileLanguageList}">
                                        <div class="form-group col-lg-5 p-0 pr-2">
                                            <select name="employeeProfileLanguageList[$index].languageId.id"
                                                    class="form-control">
                                                <option value="0">Languages</option>
                                                <option
                                                        th:each="language : ${listLanguages}"
                                                        th:value="${language.id}"
                                                        th:text="${language.name}"
                                                        th:selected="${language.id == empLanguage.languageId.id}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 p-0 pr-2">
                                            <select name="employeeProfileLanguageList[$index].level" class="form-control" >
                                                <option value="0">Level</option>
                                                <option th:each="i: ${#numbers.sequence(1, 10)}"
                                                        th:value="${i}"
                                                        th:text="${i}"
                                                        th:selected="${i == empLanguage.level}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 p-0">
                                            <div>
                                                <button type="button" class="btn btn-danger repeater-remove-btn" onclick="remove(this)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <!-- Repeater End -->
                        </div>


                        <div class="language-box mt-2">
                            <div id="repeater1">
                                <div class="repeater-heading d-flex flex-column">
                                    <button type="button" class="btn btn-dark  pull-right repeater-add-btn" add-btn-skill>
                                        Add Skill
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                                <div data-group-skill>
                                    <div class="items"  th:each="empSkill, stat : *{employeeProfileSkillList}">
                                        <div class="item-content mt-2  d-flex" >
                                            <div class="form-group col-lg-4 p-0 pr-2">
                                                <select name="employeeProfileSkillList[$index].skillId.id"
                                                        class="form-control">
                                                    <option value="0">Skills</option>
                                                    <option
                                                            th:each="skill : ${listSkills}"
                                                            th:value="${skill.id}"
                                                            th:text="${skill.name}"
                                                            th:selected="${skill.id == empSkill.skillId.id}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4 p-0 pr-2">
                                                <input type="text" name="employeeProfileSkillList[$index].skillId.name" class="form-control" placeholder="Other Skill">
                                            </div>
                                            <div class="form-group col-lg-3 p-0 pr-2">
                                                <select name="employeeProfileSkillList[$index].level" class="form-control" >
                                                    <option value="0">Level</option>
                                                    <option th:each="i: ${#numbers.sequence(1, 10)}"
                                                            th:value="${i}"
                                                            th:text="${i}"
                                                            th:selected="${i == empSkill.level}"
                                                    >
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-2 p-0">
                                                <div>
                                                    <button type="button" class="btn btn-danger repeater-remove-btn" onclick="remove(this)">
                                                        <i class="fa fa-remove"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">Couldn't you find your skill?</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Other Skills">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>


                                <!-- Repeater End -->
                            </div>
                            <div class="w-100">
                                <div class="form-group mt-2">
                                    <label for="exampleFormControlTextarea1"><Strong style="font-size: 15px;">About</Strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="${employeeProfile.about}"></textarea>
                                </div>
                                <label th:if="${#fields.hasErrors('about')}" class="text-danger" th:errors="*{about}">Error</label>
                            </div>
                            <div class="input-group mt-3">
                                <div class="text-center mx-auto">
                                    <button type="submit" class="btn  px-5 btn-dark mt-1 ">Create
                                        Account
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="items" data-group-template-skill style="display: none">
            <div class="item-content mt-2  d-flex">
                <div class="form-group col-lg-4 p-0 pr-2">
                    <select name="employeeProfileSkillList[$index].skillId.id"
                            class="form-control">
                        <option value="0">Skills</option>
                        <option
                                th:each="skill : ${listSkills}"
                                th:value="${skill.id}"
                                th:text="${skill.name}"></option>
                    </select>
                </div>
                <div class="form-group col-lg-4 p-0 pr-2">
                    <input type="text" name="employeeProfileSkillList[$index].skillId.name" class="form-control" placeholder="Other Skill">
                </div>
                <div class="form-group col-lg-3 p-0 pr-2">
                    <select name="employeeProfileSkillList[$index].level" class="form-control" >
                        <option value="0">Level</option>
                        <option th:each="i: ${#numbers.sequence(1, 10)}"
                                th:value="${i}"
                                th:text="${i}"
                        >
                        </option>
                    </select>
                </div>
                <div class="form-group col-lg-2 p-0">
                    <div>
                        <button type="button" class="btn btn-danger repeater-remove-btn" onclick="remove(this)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="items" data-group-template-language style="display: none">
            <div class="item-content mt-2  d-flex">
                <div class="form-group col-lg-5 p-0 pr-2">
                    <select name="employeeProfileLanguageList[$index].languageId.id"
                            class="form-control">
                        <option value="0">Languages</option>
                        <option
                                th:each="language : ${listLanguages}"
                                th:value="${language.id}"
                                th:text="${language.name}"></option>
                    </select>
                </div>
                <div class="form-group col-lg-4 p-0 pr-2">
                    <select name="employeeProfileLanguageList[$index].level" class="form-control" >
                        <option  value="0">Level</option>
                        <option th:each="i: ${#numbers.sequence(1, 10)}"
                                th:value="${i}"
                                th:text="${i}"
                        >
                        </option>
                    </select>
                </div>
                <div class="form-group col-lg-4 p-0">
                    <div>
                        <button type="button" class="btn btn-danger repeater-remove-btn" onclick="remove(this)">Remove</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script th:src="@{/js/repeater.js}"></script>
        <script th:src="@{/js/particles.js}"></script>
        <script>
            initRepeater('data-group-language', 'data-group-template-language', 'add-btn-language');
            initRepeater('data-group-skill', 'data-group-template-skill', 'add-btn-skill');
        </script>
    </body>

</html>

