.developer-card {
    overflow: hidden;
}
.developer-card-details {
    opacity: 0;
    transition: all .4s;
    background-color: #f1f1f1;
    height: 40px;
    width: 200px;
    overflow-y: scroll;
}
.developer-card:hover .developer-card-details {
    opacity: 1;
}