<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headhead :: headhead"></head>
<style>
    body {
        background-image: url("/img/user/banner_bggray.png");
        background-repeat: no-repeat;
        background-size: 104%;
    }

    .bg {
        background-color: #4117bc;
    }
</style>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="col-6 mx-auto mt-5">
                <h3>We Are IT Volunteers in Azerbaijan </h3>
            We Are IT Volunteers in Azerbaijan who is doing their best to improve IT in Azerbaijan. Our Team Continuously generate innovative ideas that can help people. Mostly we don’t mind commerce but only think effects of projects at people. If the project can help someone, someones, tree, weather, water I mean to world, around of us, to us... be sure that those kind of projects are in the goal of our team. For instance we have a project “Animal Report”. This project is for reporting some damaged animals that needs help. By this platform you can make a report and related people will help. This is just an example that what kind of projects we do.
                <br/>
                <br/>
                Continuously we grow up, our projects cycle grows up.
                <br/>
                <br/>

                We created www.myitcareer.net
                <br/>
                <br/>

                By this website we can collect IT People in one platform, doesn’t matter they are experienced or junior level.
                People who needs IT Workers they can find their dream employees easily by using this website.
                Also... We help juniors to gain experience by participating in our community projects.
                We publish our community projects and who wants to participate in our projects they can join easily just by clicking on “Join Team” button.
                <br/>
                <br/>
                So now nobody should think about “how can I get experience?” and “Community will gain many kind of useful projects that can help to live better”
            </div>
        </div>

    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</html>
