<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headhead :: headhead"></head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="row pt-2">
            <div class="col-lg-8 ">
                <h5 class="text-white">Looking For Information Technology Workers in Azerbaijan</h5>
                <h5 class="text-white">Want To Be Hired by IT Companies</h5>
                <h5 class="text-white">Or Looking For Projects to Gain Experience?</h5>
                <h4 class="text-white">Let's Register. We Help You!</h4>
                <img width="70%" th:src="@{/img/user/banner_img.webp}" alt="">
            </div>
            <div class="col-lg-4  ">
                <div class="card  shadow px-4  border ">


                    <div class="card-body pb-0 ">
                        <h4 class=" text-dark font-weight-bold bg-transparent">Sign up</h4>
                        <form method="post" action="/users" th:object="${user}">
                            <div class="row">
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="text" class="form-control" placeholder="Name" id="name" th:field="${user.name}" >
                                    </div>
                                    <label th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="${user.name}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="text" class="form-control" placeholder="Surname" id="surname" th:field="${user.surname}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="${user.surname}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="text" class="form-control" placeholder="Age" id="age" th:field="${user.age}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('age')}" class="text-danger" th:errors="${user.age}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input class="form-control" placeholder="Phone (optional)" id="phone" th:field="${user.phone}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="${user.phone}"></label>

                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="email" class="form-control" placeholder="Email" id="email" th:field="${user.email}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="${user.email}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="password" class="form-control" placeholder="Password" id="password" th:field="${user.password}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="${user.password}"></label>
                                </div>
                                <div class="input-group my-1 d-flex align-items-center">
                                    <div class="col-md-6 p-0">
                                        What is gender?
                                    </div>
                                    <div class="col-md-6 p-0">
                                        <select class="form-control" th:field="${user.genderId.id}">
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mt-2">
                                <div class="text-center mx-auto">
                                    <button type="submit" class="btn bg_icon text-white mt-1">Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
