<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

    <style type="text/css">
        .bg_icon {
            background-color: #3030ba;
        }

        body {
            background-image: url("/img/user/banner_bg2.webp");
            background-size: cover;
            font-family: 'Comfortaa', cursive;
        }

        .logo {
            font-size: 26px;
            font-family: 'Fredoka One', cursive;
        }
    </style>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent bg-light">
                <a class="navbar-brand logo ml-1" href="/">IT COMMUNITY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                                <li class="ml-2  my-2  nav-item active">
                                    <a style="font-size: 18px;" href="/projects"
                                        class="btn  fs-15  text-white bg-transparent btn-lg stretched-link">Our
                                        Open Source Community</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto nav-flex-icons">

                                    <li class="ml-2 my-2 nav-item active">
                                        <a style="font-size: 21px; font-family: 'Fredoka One', cursive;" href="/user/login"
                                            class="btn  fs-15 text-white bg-transparent btn-lg stretched-link">
                                            Login
                                        </a>
                                    </li>
                                </ul>

                </div>
              </nav>
    <div class="container">
        <div class="row pt-2">
            <div class="col-lg-8 ">
                <h4 class="text-white">Finding Information technology Workers</h4>
                <h3 class="text-white">Register as an information technology employee</h3>
                <img width="70%" th:src="@{/img/user/banner_img.webp}" alt="">
            </div>
            <div class="col-lg-4  ">
                <div class="card  shadow px-4  border ">


                    <div class="card-body pb-0 ">
                        <h4 class=" text-dark font-weight-bold bg-transparent">Sign up</h4>
                        <form method="post" th:object="${user}">
                            <div class="row">
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="text" class="form-control" placeholder="Name" id="name" th:field="${user.name}" >
                                    </div>
                                    <label th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="${user.name}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="text" class="form-control" placeholder="Surname" id="surname" th:field="${user.surname}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="${user.surname}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="text" class="form-control" placeholder="Age" id="age" th:field="${user.age}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('age')}" class="text-danger" th:errors="${user.age}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input class="form-control" placeholder="Phone (optional)" id="phone" th:field="${user.phone}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="${user.phone}"></label>

                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="email" class="form-control" placeholder="Email" id="email" th:field="${user.email}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="${user.email}"></label>
                                </div>
                                <div class="w-100">
                                    <div class="input-group my-1">
                                        <input type="password" class="form-control" placeholder="Password" id="password" th:field="${user.password}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="${user.password}"></label>
                                </div>
                                <div class="input-group my-1 d-flex align-items-center">
                                    <div class="col-md-6 p-0">
                                        What is gender?
                                    </div>
                                    <div class="col-md-6 p-0">
                                        <select class="form-control" th:field="${user.genderId.id}">
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mt-2">
                                <div class="text-center mx-auto">
                                    <button type="submit" class="btn bg_icon text-white mt-1">Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
